html, body {
    width: 100%;
    height: 100%;
    display: table;
    /* remove margins to avoid scroll */
    margin: 0;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    background: linear-gradient(45deg, #085078 10%, #85d8ce 90%);
}

.center {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#error, #progress {
    display: none;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    outline: none;
}